body{
    background-color: rgb(22, 22, 22);
}

p{
    font-family: Arial;
}

.web-header{
    color: white;
    font-family: Arial;
    font-weight: 700;
    font-size: 50px;
    margin:0;
}

.web-header-under{
    color: white;
    font-family: Arial;
    font-weight: 400;
    font-size: 25px;
    margin:0;
}

.alu-intro{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header_div{
    height: 100px;
    border-bottom:solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    text-align: center;
}



.pick_alucard_button{
    background-color: rgb(22, 22, 22);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-color: white;
    border: solid;
    border-radius: 5px;
    transition: 0.5s;
}

.pick_alucard_button:hover{
    background-color: white;
    color: black;
}

.alu-intro{
    box-shadow: 4px 4px 0px rgba(255,255,255,1);
    border-radius: 15px;
}

.contact-us{
    margin-top: 200px;
    background-color: rgb(22, 22, 22);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-color: white;
    border: solid;
    border-radius: 5px;
    transition: 0.5s;
}

.contact-us:hover{
    background-color: white;
    color: black;
}
